<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
        integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/stylesheets/companyEditCar.css">
    <title>CarHub: Company Admin, Manage Car</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/company/<%= companyAdmin._id%>" class="navbar-brand">Company Admin</a>
            <ul class="navbar-nav navbar-top ml-auto">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="nav-profile-name fas fa-user-circle"><%= companyAdmin.company_id%></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="/user/company">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-bottom mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-primary" href="/company/<%= companyAdmin._id%>">Dashboard <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="/company/listCar/<%= companyAdmin._id%>">Manage Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="/company/manageLocation/<%= companyAdmin._id%>">Manage
                            Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="/company/report/<%= companyAdmin._id%>">Report</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="edit-car-content">
            <div class="container">
                <form action="/company/editCar/<%= companyAdmin._id%>/sendCarUpdate/<%= vehicle._id%>"
                    autocomplete="off" method="post">
                    <div class="form-group form-row">
                        <div class="col-sm-12 col-md-6">
                            <label for="brand">Brand</label>
                            <input class="form-control" type="text" name="brand" id="brand" required
                                value="<%= vehicle.brand%>">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="model">Model</label>
                            <input class="form-control" type="text" name="model" id="model" required
                                value="<%= vehicle.model%>">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-sm-12 col-md-6">
                            <label for="gear">Gear</label>
                            <input class="form-control" type="text" name="gear" id="gear" required
                                value="<%= vehicle.gear%>">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="year">Year</label>
                            <input class="form-control" type="text" name="year" id="year" required
                                value="<%= vehicle.year%>">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-sm-12 col-md-6">
                            <label for="types">Types</label>
                            <input class="form-control" type="text" name="types" id="types" required
                                value="<%= vehicle.types%>">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="fuel">Fuel Types</label>
                            <input class="form-control" type="text" name="fuel" id="fuel" required
                                value="<%= vehicle.fuel%>">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-sm-12 col-md-6">
                            <label for="capacity">Capacity</label>
                            <input class="form-control" type="text" name="capacity" id="capacity" required
                                value="<%= vehicle.capacity%>">
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="daily_rate">Price/Day</label>
                            <input class="form-control" type="text" name="daily_rate" id="daily_rate" required
                                value="<%= vehicle.daily_rate%>">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-sm-12 col-md-6">
                            <img src="<%= vehicle.image%>" alt="" width="200px">
                            <input type="hidden" name="image" value="<%= vehicle.image%>">
                        </div>
                    </div>
                    <div class="form-group form-row form-btn">
                        <a class="btn btn-outline-danger" href="/company/listCar/<%= companyAdmin._id%>">Cancel</a>
                        <button class="btn btn-primary btn-success" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>