<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/stylesheets/userRegister.css" />
    <title>Sign Up Form</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">CarHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 480px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <form action="/user/login" method="POST" autocomplete="off">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-md-6  input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input id="firstname" name="firstname" class="form-control" placeholder="Firstname"
                                type="text" value="<%= typeof firstname != 'undefined'? firstname : ''%>" required />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <input id="lastname" name="lastname" class="form-control" placeholder="Lastname" type="text"
                                value="<%= typeof lastname != 'undefined'? lastname : ''%>" required />
                        </div>
                    </div>
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <input id="email" name="email" class="form-control" placeholder="Email address" type="email"
                        value="<%= typeof email != 'undefined'? email : ''%>" data-validation="email" required />
                </div>
                <div class="alert-msg">
                    <span
                        class="text-center text-danger"><%= typeof errorMsg != 'undefined'? errorMsg.email : ''%></span>
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password" name="password" class="form-control" placeholder="Create password"
                        type="password" required />
                </div>
                <div class="alert-msg">
                    <span
                        class="text-center text-danger"><%= typeof errorMsg != 'undefined'? errorMsg.password : ''%></span>
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>
                    <input id="tel" name="tel" class="form-control" placeholder="example. 0812345679" type="text"
                        value="<%= typeof tel != 'undefined'? tel : ''%>" required />
                </div>
                <div class="alert-msg">
                    <span class="text-center text-danger"><%= typeof errorMsg != 'undefined'? errorMsg.tel : ''%></span>
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Create Account
                    </button>
                </div>
                <!-- form-group// -->
                <p class="text-center">
                    Have an account? <a href="/user/login">Log In</a>
                </p>
            </form>
        </article>
    </div>
    <!-- card.// -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script>
        $.validate();
    </script>
</body>

</html>